/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/* Cabeçalho */
header {
    width: 100%;
    background-color: white;
    position: fixed;
    
}

header nav.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin: 2vw auto; 
    padding: 0 20px;
}

nav.topo ul {
    display: flex;
    list-style: none;
    align-items: first baseline;
    gap: 20px;
}

nav.topo li {
    margin: 0 15px;
}

nav.topo li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
nav.topo div a {

    text-decoration: none;
    color: #1090CB;
    font-weight: bolder;
    font-size: 1.5rem;
}


nav.topo button {
    background-color: #1090CB;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}


/* Seção Principal (Homem com Computador) */
section#mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh; 
    padding: 0 5%;
    background-color: #d9ecf7; 
}

section#mobile .texto {
    max-width: 50%;
}

section#mobile h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
    margin: 0 0 0 1.5vw;
}

section#mobile h1 span {
    color: #1090CB;
}

section#mobile p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
    margin: 2vw 0 3vw 1.5vw;
}

section#mobile .botoes {
    display: flex;
    gap: 15px;
}

section#mobile .botao {
    padding: 15px 30px;
    border-radius: 10px;
    display: flex;
    gap: 10px;

}

section#mobile button.primeiro {
    background-color: #1090CB;
    color: white;
    border: none;
    padding: 15px 45px;
    border-radius: 10px;
}

section#mobile button.segundo {
    background-color: white;
    color: #1090CB;
    border: 2px solid #1090CB;
    padding: 15px 45px;
    border-radius: 10px;
}

/* Ícones */

section#web {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: space-between;
    gap: 30px;

}

section#web .icons {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: white;
    gap: 15px;
   
}

section#web .icons img {
    max-width: 50px;
    margin-bottom: 10px;
}

section#web .icons h4 {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: justify;
}

section#web .icons p {
    color: #555;
    font-size: 0.9rem;
    text-align: justify;
    margin: 0 0 1vw 0;
}

/* Seção Informativa */
section#lorem {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}

section#lorem h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 3vw 0 2vw 0;
}

section#lorem p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 40px;
}

section#lorem .conteudo {

    display: flex;
    margin: 0 0 5vw 0;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

section#lorem .conteudo p {

    text-align: justify;
    margin: 2vw 0 0 0;
}
section#lorem .conteudo h3 {

    text-align: justify;
    font-size: 1.5rem;
    font-weight: bold;
}

section#lorem .conteudo h3 span {

    color: #1090CB;
}


/* Rodapé */
footer {
    text-align: center;
    padding: 20px;

    color: white;
    margin-top: 40px;
}
